{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "ignorePatterns": ["*.d.ts"],
  "env": {
    "browser": true
  },
  "rules": {
    "prettier/prettier": ["error"]
  }
}
